
html {
  max-width: 608px;
  line-height: 1.5;
  font-family: "PT Serif", serif;
  font-weight: normal;
  background-color: #c9b5ab;
}

h1 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
}

h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-weight: bolder;
}

nav {
  color: #8f2440;
  font-family: "PT Sans", sans-serif;
  font-weight: bolder;
  font-size: 1.125rem;
}

body {
  font-family: "PT Serif", serif;
}

img {
  width: 100%;
}

.grow {
  font-weight: bolder;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: #8f2440;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

ol, li {
  list-style-type: none;
}

figcaption {
  text-align: center;
  font-style: italic;
}

dl dt {
  font-weight: bolder;
  font-size: 1.125rem;
}

aside {
  font-size: 0.8rem;
}

blockquote {
  font-style: italic;
  font-weight: bolder;
  font-size: 1.5rem;
}

footer {
  font-size: 0.8rem;
}
